<div class="flex justify-center items-center h-screen">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-24">
    <div class="bg-white p-4 rounded-md">
      <h2 class="text-lg font-semibold mb-2">Total Tasks</h2>
      <p><%= @total_tasks_count %></p>
    </div>
    
    <div class="bg-white p-4 rounded-md">
      <h2 class="text-lg font-semibold mb-2">Most Urgent Task</h2>
      <p><%= @most_urgent_task.title if not @most_urgent_task.nil? %></p>
      <p><%= @most_urgent_task.due_date if not @most_urgent_task.nil?%></p>
    </div>
    
    <div class="col-span-1 md:col-span-2 bg-white p-4 rounded-md">
      <h2 class="text-lg font-semibold mb-4">All Tasks</h2>
      <table class="w-full border-collapse">
        <thead class="text-xs text-gray-700 uppercase bg-yellow-200 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Title</th>
            <th scope="col" class="px-6 py-3">Description</th>
            <th scope="col" class="px-6 py-3">Category</th>
            <th scope="col" class="px-6 py-3">Due Date</th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <tr "bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <td class="px-6 py-4"><%= task.title %></td>
              <td class="px-6 py-4"><%= task.description %></td>
               <td class="px-6 py-4"><%= task.category.name if task.category.present? %></td>
              <td class="px-6 py-4"><%= task.due_date %></td>
            </tr>
          <% end %>
     </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'categories/new' %>