<div class="flex items-center justify-center h-screen flex-col">
    <div class="bg-white rounded-lg p-8 shadow-md">
      <%= form_with(model: [@category, @task], local: true) do |form| %>
        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
            <ul>
              <% @task.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if @task.new_record? %>
          <h1 class="mb-4 text-lg font-bold">New Task</h1>
        <% else %>
          <h1 class="mb-4 text-lg font-bold">Edit Task</h1>
        <% end %>
        
        <div class="mb-4">
          <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= form.text_field :title, class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
          <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= form.text_area :description, class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-4">
          <%= form.label :due_date, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= form.date_field :due_date, class: "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="flex justify-center gap-5">
          <%= form.submit 'Save', class: 'btn btn-submit rounded-md px-4 py-2 bg-green-500 hover:bg-green-600 text-black hover:cursor-pointer' %>
          
          <% if @task.persisted? %>
            <%= button_to 'Delete', category_task_path(@category, @task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-close rounded-md px-4 py-2 bg-red-500 hover:bg-red-600 text-black' %>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
